* {
    text-decoration: none;   
 }
body {
  background-color: #C0D6DF;
  font-family: 'Press Start 2P', monospace;
  margin: 0;
}

.navbar {
  background: #4A6FA5;
  font-family: 'Press Start 2P', monospace;
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


li {
  list-style: none;
  display: inline-block;
}

li a {
  color: #DBE9EE;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

h1 {
  text-align: center;
  color: #166088;
  font-size: 40px;
}

p {
  margin-top: 98px;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  color: #34495E;
}

h3 {
  text-align: center;
  color: #166088;
}

.linux {
  margin-left: 1500px;
}

.alps {
  width: 1920px;
  height: auto;
}

 .stay img {
  margin-left: 550px;
  width: 750px;
  height: auto;
}

.wave-title {
  text-align: center;
  font-family: 'Press Start 2P', monospace;
  font-size: 40px;
}

.wave-title span {
  display: inline-block;
  animation: waves 4s infinite;
}

@keyframes waves {
  0%, 100% {color: #166088;}
  50% {color: #D72483;}
}
.wave-title span:nth-child(1) { animation-delay: 0s; }
.wave-title span:nth-child(2) { animation-delay: 0.1s; }
.wave-title span:nth-child(3) { animation-delay: 0.2s; }
.wave-title span:nth-child(4) { animation-delay: 0.3s; }
.wave-title span:nth-child(5) { animation-delay: 0.4s; }
.wave-title span:nth-child(6) { animation-delay: 0.5s; }
.wave-title span:nth-child(7) { animation-delay: 0.6s; }
