* {
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #C0D6DF;
  font-family: 'Press Start 2P', monospace;
  margin: 0;
}

.page {
  background-color: #2A8D4F;
  padding-bottom: 1%;
  margin-left: 40px;
  margin-right: 40px;
  display: column;
  flex-direction: column;
  align-items: center;
}

.page h1 {
  padding-top: 20px;
  font-family: 'Press Start 2P', monospace;
  font-size: 25px;
}

.page p {
  font-family: 'DotGothic16', sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.page img {
  padding-top: 2%;
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background: #4A6FA5;
  padding: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

li a {
  color: #DBE9EE;
  font-size: 18px;
  font-weight: bold;
}

h1 {
  text-align: center;
  color: black;
}


@media (max-width: 768px) {

  h1 {
    font-size: 20px;
  }

  p {
    margin-top: 50px;
    font-size: 12px;
  }

  li {
    display: block;
    margin: 10px 0;
  }

  li a {
    font-size: 14px;
  }

  .navdiv {
    flex-direction: column;
    align-items: flex-start;
  }
}

.navigation button {
  font-family: 'Press Start 2P', monospace;
  font-size: 15px;
  color: #DBE9EE;
  background-color: #166088;
  justify-content: center;
  display: flex;
  margin: auto;
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}

.navigation {
  margin-top: 1%;
  display: column;
  margin-left: 80%;
}

.navigation a {
  color: inherit;
  text-decoration: none;
}

.navigation a:visited {
  color: inherit;
}

.navigation button:hover {
  background-color: #DBE9EE;
  color: black;
}
